---
layout: layout.liquid
title: Home Page
---

<h1>Explorer's <strong>Blog</strong></h1>

{% story "Getting Too Close to the Sun", "13 June, 2023" %}
<h3>Today we adventured near the sun and accidentally got a little too close.</h3>
<button><a href="/blogpost/">Click here to read more!</a></button>


{% story "Almost Running Out of Fuel", "19 May, 2023" %}
<h3>Today I took a trip around Saturn but forgot to get fuel before leaving, which made me barely able to make it back.</h3>
<button><a href="/blogpost2/">Click here to read more!</a></button>


